In [77]:
import pandas as pd
import numpy as np

path = "ResultSDP20201\LIMA\ResultSDP20201-LIMA-INGENIERÍA DE SOFTWARE.csv"
df = pd.read_csv(path)
df

,SEDE,CODIGO,APELLIDOS Y NOMBRES,E.P,PUNTAJE,MERITOGENERAL,MERITOSEDE,MERITOEAP,MERITO SEDEE.P,OBSERVACION
0,LIMA,699128,"ABAD HUAMAN, FRANCISCO JAVIER",202,1032.750,1757,1586,60,56,
1,LIMA,642781,"ACHAYA ÑAHUI, RONELD VICENTE",202,196.375,25638,21935,510,461,
2,LIMA,691123,"ACUÑA GOMEZ, DIEGO JOSE",202,870.500,4473,4022,130,120,
3,LIMA,661828,"ACUÑA VELASQUEZ, SERGIO ALFIERI",202,631.875,12066,10681,274,247,
4,LIMA,638883,"AGUILAR LINDO, AGUSTIN ALEJANDRO",202,1104.000,1092,983,27,25,
...,...,...,...,...,...,...,...,...,...,...
469,LIMA,699831,"ZAPATA INGA, JANIO ADOLFO",202,620.875,12535,11077,282,255,
470,LIMA,681453,"ZAVALETA NUÑEZ, DANIEL ANDRÉS",202,1179.500,624,561,11,10,
471,LIMA,622463,"ZEGARRA CHUQUIMUNI, JOSE MIGUEL",202,418.625,21242,18349,425,382,
472,LIMA,647098,"ZEGARRA GUTIÉRREZ, FABRIZZIO ANDRE",202,670.500,10639,9451,250,226,
473,LIMA,636845,"ZEVALLOS MEDINA, ALONSO SEBASTIAN",202,340.875,23639,20303,469,422,

In [19]:
df.iloc[:,3:8]

     E.P   PUNTAJE MERITOGENERAL MERITOSEDE MERITOEAP
0    202  1032.750          1757       1586        60
1    202   196.375         25638      21935       510
2    202   870.500          4473       4022       130
3    202   631.875         12066      10681       274
4    202  1104.000          1092        983        27
..   ...       ...           ...        ...       ...
469  202   620.875         12535      11077       282
470  202  1179.500           624        561        11
471  202   418.625         21242      18349       425
472  202   670.500         10639       9451       250
473  202   340.875         23639      20303       469

[474 rows x 5 columns]

In [37]:
# Conversion de todos los valores de object a float64
df['PUNTAJE'] = (df['PUNTAJE']).apply(pd.to_numeric, errors='coerce')
df['PUNTAJE']

0      1032.750
1       196.375
2       870.500
3       631.875
4      1104.000
         ...
469     620.875
470    1179.500
471     418.625
472     670.500
473     340.875
Name: PUNTAJE, Length: 474, dtype: float64

In [110]:
# Posible solución ... -[Faltaria buscar como unir esta nueva columna al df original]- o e
df2 = df[df['OBSERVACION'] != 'AUSENTE']
df2['CODIGO'] = df2['CODIGO'].astype(np.int32)
df2['MERITOGENERAL'] = df2['MERITOGENERAL'].astype(np.int32)
df2['PUNTAJE'] = df2['PUNTAJE'].astype(np.float16)
df2.iloc[:,7:9].astype(np.int32)
df2[df2['PUNTAJE'] > 1300]

,SEDE,CODIGO,APELLIDOS Y NOMBRES,E.P,PUNTAJE,MERITOGENERAL,MERITOSEDE,MERITOEAP,MERITO SEDEE.P,OBSERVACION
21,LIMA,626702,"ANCAJIMA DIAZ, DIEGO ALONSO",202,1338.0,166,150,1,1,
303,LIMA,626274,"PEREZ BAZAN, EYSEN CHRISTOPHER",202,1304.0,227,205,2,2,

In [50]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df[df['OBSERVACION'] == 'AUSENTE']
#df['MERITOGENERAL'] = df['MERITOGENERAL'].astype(np.int8)

,SEDE,CODIGO,APELLIDOS Y NOMBRES,E.P,PUNTAJE,MERITOGENERAL,MERITOSEDE,MERITOEAP,MERITO SEDEE.P,OBSERVACION
74,LIMA,696677,"CABRERA MONTALICO, MARCO ANTONIO",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
306,LIMA,665462,"PEREZ REYNA, SEAN KARL HEINS",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
309,LIMA,698430,"PILCO GALLARDO, ALVARO CHRISTIAN",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
314,LIMA,634378,"POLASTRE ASIN, DIEGO JESUS",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
326,LIMA,625566,"QUISPE CANAHUALPA, DANIEL ALONSO",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
330,LIMA,664262,"QUISPE MORE, DIEGO DANIEL",202,NaN,NaN,NaN,NaN,NaN,AUSENTE
357,LIMA,670608,"ROJAS CCAMA, CARLOS ANDRES",202,NaN,NaN,NaN,NaN,NaN,AUSENTE

In [68]:
# 2da posible solucion
merito_general = df[df['OBSERVACION'] != 'AUSENTE']['MERITOGENERAL'].astype(np.int16)

0       1757
1      25638
2       4473
3      12066
4       1092
       ...
468    20611
469    12535
471    21242
472    10639
473    23639
Name: MERITOGENERAL, Length: 445, dtype: int16